.negrita{ font-weight: bold;font-size: 50px;color: chocolate; text-align: center;}
.cursiva{ font-style: italic;font-size: 15px}
.colordefondoheader{ background-color: salmon;border: 3px solid black ;font-style: italic;margin-top: 1cm;}
.colordefondofooter{ background-color: rgb(177, 253, 0);border: 2px solid black  ;border-color: aqua ;font-style:unset;}
.ordenarlista{list-style: none;font-family:Arial;
    font-weight:bold;
    font-size:13px;}
.contenedor{display: flex;
    width: 10px;
    text-align: center;
    flex-direction: row;
    
     font-style: italic;
     font-size: 20px;
    }
    .separador{
        color:gray;border: 1px;text-align: center;
    }    